@font-face {
    font-family: 'iconfont';  /* project id 1222004 */
    src: url('//at.alicdn.com/t/font_1222004_l5a3f8stvbr.eot');
    src: url('//at.alicdn.com/t/font_1222004_l5a3f8stvbr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1222004_l5a3f8stvbr.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1222004_l5a3f8stvbr.woff') format('woff'),
    url('//at.alicdn.com/t/font_1222004_l5a3f8stvbr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1222004_l5a3f8stvbr.svg#iconfont') format('svg');
}

.iconfont{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}